{% extends "index" %}
 
 {% block content %}
 
<div class="wrapper bgded overlay gradient" style="background-image:url('images/demo/backgrounds/01.png');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <p>Eu leo curabitur eleifend sapien</p>
      <h3 class="heading">Sed eros nullam quis ligula</h3>
      <p>Elementum lectus varius aliquet quisque fringilla est in porttitor</p>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="#">Ultricies dui orci</a></li>
          <li><a class="btn inverse" href="#">Mollis libero quis</a></li>
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Sagittis lacus neque ut lorem integer</h6>
      <p>Elementum nisi ac volutpat vestibulum enim mi tincidunt eros</p>
    </div>
    <ul class="nospace group prices">
      <li class="one_third">
        <article><i class="fas fa-deaf red"></i>
          <h6 class="heading">Condimentum</h6>
          <p>Sed porttitor justo magna odio sed lacus nunc consequat sem vel metus imperdiet lacinia suspendisse aliquet mi sed</p>
          <p><sup>&euro;</sup><strong>80</strong><em>pcm</em></p>
          <footer><a class="btn" href="#">Details</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><i class="fas fa-dolly green"></i>
          <h6 class="heading">Suscipit</h6>
          <p>Justo in tortor quis dui in purus pede luctus eget condimentum ac bibendum in justo nam condimentum congue risus</p>
          <p><sup>&euro;</sup><strong>100</strong><em>pcm</em></p>
          <footer><a class="btn" href="#">Details</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><i class="fas fa-hands blue"></i>
          <h6 class="heading">Dignissim</h6>
          <p>Aliquam auctor nisl nec diam ornare nam molestie massa quis pede vestibulum fringilla risus in metus nullam egestas</p>
          <p><sup>&euro;</sup><strong>125</strong><em>pcm</em></p>
          <footer><a class="btn" href="#">Details</a></footer>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>

<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Sagittis lacus neque ut lorem integer</h6>
      <p>Elementum nisi ac volutpat vestibulum enim mi tincidunt eros</p>
    </div>
    <ul class="nospace group prices">
      <li class="one_third">
        <article><i class="fas fa-deaf red"></i>
          <h6 class="heading">Condimentum</h6>
          <p>Sed porttitor justo magna odio sed lacus nunc consequat sem vel metus imperdiet lacinia suspendisse aliquet mi sed</p>
          <p><sup>&euro;</sup><strong>80</strong><em>pcm</em></p>
          <footer><a class="btn" href="#">Details</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><i class="fas fa-dolly green"></i>
          <h6 class="heading">Suscipit</h6>
          <p>Justo in tortor quis dui in purus pede luctus eget condimentum ac bibendum in justo nam condimentum congue risus</p>
          <p><sup>&euro;</sup><strong>100</strong><em>pcm</em></p>
          <footer><a class="btn" href="#">Details</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><i class="fas fa-hands blue"></i>
          <h6 class="heading">Dignissim</h6>
          <p>Aliquam auctor nisl nec diam ornare nam molestie massa quis pede vestibulum fringilla risus in metus nullam egestas</p>
          <p><sup>&euro;</sup><strong>125</strong><em>pcm</em></p>
          <footer><a class="btn" href="#">Details</a></footer>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper coloured">
  <article class="hoc cta clear"> 
    <!-- ################################################################################################ -->
    <h6 class="three_quarter first">Velit tristique sem vehicula laoreet nullam elementum</h6>
    <footer class="one_quarter"><a class="btn" href="#">Ipsum pharetra leo</a></footer>
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <section id="introblocks">
      <div class="sectiontitle">
        <h6 class="heading">Augue pretium felis faucibus porttitor</h6>
        <p>Metus nisl vitae ipsum integer vestibulum suspendisse potenti</p>
      </div>
      <ul class="nospace group">
        <li class="one_third first">
          <article><a href="#"><i class="fas fa-microphone-slash"></i></a>
            <h6 class="heading">Class aptent taciti</h6>
            <p>Sociosqu ad litora torquent per conubia nostra per inceptos himenaeos nullam tempus erat [&hellip;]</p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article><a href="#"><i class="fas fa-seedling"></i></a>
            <h6 class="heading">Id tortor etiam orci</h6>
            <p>Justo lobortis in consequat ut ornare vel tellus nulla elementum velit pretium ultricies [&hellip;]</p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article><a href="#"><i class="fas fa-ship"></i></a>
            <h6 class="heading">Tristique nibh turpis</h6>
            <p>Fermentum dui sit amet consequat felis arcu quis pede curabitur elit lacus consectetuer vel [&hellip;]</p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </article>
        </li>
      </ul>
    </section>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section id="latest" class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Vestibulum nec pharetra eu nisl</h6>
      <p>Sed auctor purus vel aliquet dignissim lectus nunc semper lorem</p>
    </div>
    <ul class="nospace group">
      <li class="one_third">
        <figure><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a>
          <figcaption>Porta facilisis</figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a>
          <figcaption>Tellus lectus nec</figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a>
          <figcaption>Pede suspendisse</figcaption>
        </figure>
      </li>
    </ul>
    <footer class="block center"><a class="btn" href="#">Tortor molestie</a></footer>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">
  <div class="hoc container testimonial clear"> 
    <!-- ################################################################################################ -->
    <article><img src="images/demo/100x100.png" alt="">
      <blockquote>porta volutpat sit amet scelerisque sit amet leo morbi sem magna viverra quis sollicitudin quis consectetuer quis magna integer consectetuer tellus sed dui nullam.</blockquote>
      <h6 class="heading font-x1">A. Doe</h6>
      <em>justo massa adipiscing</em></article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section id="cta" class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <ul class="nospace clear">
      <li class="one_quarter first">
        <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong> +00 (123) 456 7890</span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us a mail:</strong> support@domain.com</span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Monday - Saturday:</strong> 08.00am - 18.00pm</span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Come visit us:</strong> Directions to <a href="#">our location</a></span></div>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>


 {% endblock %}